body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    min-height: 577px;
}
.update_infor input, .photo label {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}
.update_infor input::placeholder {
    color: palevioletred;
}
.update_infor legend {
    font-size: 32px;
    color: white;
    margin-bottom: 1em;
}
.update_infor input[type="submit"] {
    background-color: rgb(138,43,226,0.6);
    color: white;
    border: 2px solid white;
    border-radius: 9999px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s;
}
.update_infor input[type="submit"]:hover {
    transform: scale(1.1);
    background-color: rgb(238,130,238,0.6);
}
.update_infor {
    min-width: 300px;
    background-color: rgb(216,112,147,0.6);
    padding: 40px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px lightpink, 0 0 30px lightpink;
}
.photo input {
    width: 1px;
    height: 1px;
    position: absolute;
    margin: -1;
    padding: 0;
    overflow: hidden;

}
.photo {
    white-space: nowrap;
}
.photo label {
    background-color: white;
    color: palevioletred;
    display: inline-block;
    cursor: pointer;
}