body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    min-height: 577px;
}
h1 {
    font-style: italic;
    font-size: 80px;
    font-weight: 900;
    -webkit-text-stroke: 1px blueviolet;
    text-align: center;
    color:white;
    margin: 20px 0;
    text-shadow: 0 0 10px palevioletred, 0 0 20px palevioletred;
}
.login input{
    margin: 5px;
}
.login input[type="text"], .login input[type="password"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.login input::placeholder {
    color: palevioletred;
}
.login .gotoSign {
    margin-top: 1em;;
    color: white;
    text-decoration: none;
}
.login .gotoSign:hover {
    text-decoration: underline;
}
.login legend {
    font-size: 32px;
    color: white;
    margin-bottom: 1em;
}
.loginBtn {
    background-color: rgb(138,43,226,0.6);
    color: white;
    border: 2px solid white;
    border-radius: 9999px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s;
}
.loginBtn:hover {
    transform: scale(1.1);
    background-color: rgb(238,130,238,0.6);
}
.login {
    min-width: 300px;
    background-color: rgb(216,112,147,0.6);
    padding: 40px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px lightpink, 0 0 30px lightpink;
}
