.play_area {
    width: 50%;
    height: 577px;
    background-color: black;
	opacity: 0.5;
    margin: 0 auto;
    display: flex;
}
.track {
    border-right: 2px solid red;
    border-left: 2px solid red;
    width: 25%;
    height: 575px;
	position: relative;
}
.line {
	position: absolute;
	top: 525px;
	width: 100%;
	height: 10px;
	background-color: brown;
}
/* .line p{
	position: absolute;
	top: 10px;
	left: 45%;
	color: brown;
	font-size: 20px;
} */
.clickLine {
	background-color: pink;
	box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red;
}
/* .clickLine p{
	color: pink;
	-webkit-text-stroke: 1px red;
	box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red;
} */
.box {
	width: 100%;
	height: 10px;
	background-color: white;
	box-shadow: 0 0 10px white, 0 0 20px white;
	position: absolute;
	top: 0;
	opacity: 1;
}
#background-video {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.75;
  }
.score {
	position: absolute;
	top: 400px;
	left: 47%;
	color: white;
	font-size: 40px;
	font-weight: 800;
	text-shadow: 0 0 10px palevioletred, 0 0 20px palevioletred, 0 0 30px palevioletred;
	z-index: 10;
}
